<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pets</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.getId()}"></td>
        <td th:text="${pet.getFirtName()}"></td>
        <td th:text="${pet.getLastName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>