<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>

<h2 th:text="'Lista de Owners'"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First name</th>
            <th style="width: 150px;">Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.getId()}"></td>
            <td th:text="${owner.getFirtName()}"></td>
            <td th:text="${owner.getLastName()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>